body {
  background-color: #d6d6d6;
  background-image: url(../assets/img/background.png);
  /* Image from https://www.transparenttextures.com/ */
}

header {
  padding: 2.5rem;
  background: white;
}

a.btn:visited {
  color: white;
}
